@model AutoFull.ViewModels.IndexViewModel


<div id="indexBlock">
    @{
        await Html.RenderPartialAsync("_IndexPartialView", Model);
    }
</div>

@section Scripts {
    <script>
        let searchInput = $('#searchId'); 
        let indexBlock = $('#indexBlock');
        let page = 1;
        let search = "";

        function getData() {
            $.ajax({
                url: '@Url.Action("Index", "Marca")',
                type: 'GET',
                data: {
                    'search': search,
                    'page': page
                },
                success: function (response) {
                    indexBlock.html($(response).find("#indexBlock").html());
                },
                error: function () {
                    console.error("Ошибка при загрузке данных.");
                }
            });
        }

        searchInput.on("input", function () {
            page = 1;
            search = searchInput.val();
            getData();
        });

        function changePage(nextPage) {
            page = nextPage;
            getData();
        }

        $(document).on("click", ".pagination .page-link", function (event) {
            event.preventDefault();
            let nextPage = $(this).data('page');
            if (nextPage !== page) {
                changePage(nextPage);
            }
        });
    </script>
}