@model AutoFull.ViewModels.ProfileViewModel

@{
    ViewBag.Title = Model.User.UserName;
}

<h3 class="text-center mb-4">Личный кабинет</h3>

<table class="table table-bordered">
    <tbody>
    <tr>
        <th>Имя пользователя</th>
        <td>@Model.User.UserName</td>
    </tr>

    <tr>
        <th>Email почта</th>
        <td>@Model.User.Email</td>
    </tr>

    <tr>
        <th>Номер телефона</th>
        <td>@Model.User.PhoneNumber</td>
    </tr>
    </tbody>
</table>

@if (User.IsInRole("admin"))
{
    <div class="d-flex justify-content-center"> 
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@Model.User.Id">Удалить пользотеля</button>
    </div>
}

<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Вы действительно хотите удалить пользотеля ??</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Delete" asp-controller="User" class="d-inline">
                    <input type="hidden" name="id" id="deleteUserInp" value="">
                    <input type="submit" value="Удалить" class="btn btn-danger me-2">
                </form>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Отменить</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        const deleteUserModal = document.getElementById('deleteUserModal')
        if (deleteUserModal){
            deleteUserModal.addEventListener('show.bs.modal', event => {
                const button = event.relatedTarget
                const id = button.getAttribute('data-bs-whatever')
                let deleteUserInp = document.getElementById('deleteUserInp');
                deleteUserInp.value = id;
            });
        }
    </script>
}